{% extends "base.html" %}

{% block content %}
<h1>Courses</h1>
<ul>
    {% for course in courses %}
    <li>
        <a href="{{ url_for('courses', course_id=course.id) }}">{{ course.name }}</a>
        {% if current_user.has_role('Student') %}
            {% set enrolled_courses = current_user.enrollments | map(attribute='course') | list %}
            {% if course not in enrolled_courses %}
                <a href="{{ url_for('enroll', course_id=course.id) }}" class="btn btn-primary btn-sm">Enroll</a>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if current_user.has_role('Admin') %}
<a href="{{ url_for('create_course') }}" class="btn btn-success">Create New Course</a>
{% endif %}
{% endblock %}
